<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Select Vehicle for {{ year }} {{ make.capitalize() }} {{ model.capitalize() }}</title>
</head>
<body>
    <h1>Select a Vehicle for {{ year }} {{ make.capitalize() }} {{ model.capitalize() }}</h1>
    <form method="POST" action="{{ url_for('process_selection') }}">
        <table>
            <tr>
                <th>Series</th>
                <th>Trim</th>
                <th>DriveType</th>
                <th>DisplacementCC</th>
                <th>FuelTypePrimary</th>
                <th>Select</th>
            </tr>
            {% for index, row in matches.iterrows() %}
            <tr>
                <td>{{ row.Series }}</td>
                <td>{{ row.Trim }}</td>
                <td>{{ row.DriveType }}</td>
                <td>{{ row.DisplacementCC }}</td>
                <td>{{row.FuelTypePrimary}}</td>
                <td><button type="submit" name="selected_idx" value="{{ index }}">Select</button></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
